:root:root {
    --darkblue: #0948b4;
    --white: white;
    --yellow: #f3be00;
    --lightblue: #4474C6;
    --lightbluecertified: #F3F9FF;
    --border: #ABB3BB;
    --border-certified: #E6ECF3;
    --certified-font: #2E2F2F;
    --font-color: rgb(24, 24, 223);
    --span-color: rgb(232, 196, 12);
}

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    font-family: plus;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}

nav {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f3f9ff;
    position: fixed;
    z-index: 1;
}

.nav-left {
    color: var(--certified-font);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-left span {
    color: var(--yellow);
    font-size: large;
}

.nav-left img {
    height: 37px;
    width: 80%;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    height: 100%;



}

.nav-center p {
    font-size: 15px;

}

.nav-center input {
    width: 38px;
    height: 35px;
    border-radius: 10px;
    border: none;
    color: #df2e2e;
    font-size: 23px;
    text-align: center;
    font-weight: 700;
    padding: 5px;
}

.nav-center span {
    color: #df2e2e;
    font-size: large;
    font-weight: bold;
}

.nav-center p {
    text-align: center;
}

.timer {
    margin-left: 20px;
    display: flex;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    background-color: #f3be00;
    height: 50px;
    width: 255px;
    padding: 15px 0px 15px 0px;
    font-weight: bolder;
    font-size: 15px;
}


.parent-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 80vh;
    width: 100vw;
    background-color: var(--darkblue);
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 464px;
    width: 1220px;
    position: absolute;
    top: 60px;
}


.parent-leftSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 360px;
    width: 38rem;
    margin-left: 25px;
}

.parent-section-text {
    color: white;
    width: 100%;
    /* height: 238px;    */
}

.parent-section-text span {
    color: var(--yellow);
}

.parent-section-text h1 {
    font-size: 41px;
    margin-top: 0px;
}

.blankSection {
    background-color: white;
    height: 75%;
    width: 48%;
    border: 5px solid black;
    border-radius: 10px;
    /* margin-right: 140px; */
}

.float-bar {
    display: flex;
    font-size: 25px;
    font-weight: 600;
    height: 50px;
    width: 85%;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.user-contact {
    /* display: none; */
    position: absolute;
    border-radius: 1rem;
    top: 450px;
    left: 1%;
    width: 96%;
    height: 110px;
    padding: 0px 24px;
    line-height: 3.5rem;
    box-shadow: rgb(0 0 0) 2px 1px 4px 0px;
    z-index: 1000;
    background-color: #f3f9ff;
    z-index: 0;
}

.user-contact-lower-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.user-contact-lower-text div {
    margin-right: 1rem;
}

.user-contact-lower-text div input {
    height: 50px;
    width: 17vw;
    border-radius: 0.5rem;
    color: var(--span-color);
    padding: 0 1rem;
    border: 0.5px solid #93aac2;
    cursor: pointer;
}

.btn-pay {
    color: var(--certified-font);
    background-color: #f3be00;
    height: 53px;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 19px;
}

.mentor {
    height: 50vw;
    width: 100vw;
    background-color: #f3f9ff;
}

.know-your-mentor {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    height: 70px;
    padding-top: 70px;
}

#mentor-name {
    font-weight: bold;
}

.mentor-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    height: 90%;
    width: 100%;
}

.left-mentor {
    margin-left: 10%;
    width: 50vw;
    height: 100%;

}

.learn-from {
    background-color: var(--yellow);
    height: 60px;
    margin-top: 5%;
    border-radius: 10px;
    border: none;
    width: 550px;
    font-size: x-large;
    font-weight: bold;
}

.right-mentor {
    display: flex;
    width: 50vw;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
}

.right-mentor ul {
    display: flex;
    flex-direction: column;
}

.right-mentor ul li {
    margin-bottom: 20px;
}

/* ------------------------------------------------------------------------------------------------------------ */
@font-face {
    font-family: satisfy;
    src: url(/Satisfy-Regular\ \(1\).ttf);
}

@font-face {
    font-family: plus;
    src: url(/PlusJakartaSans-VariableFont_wght.ttf);
}

body {
    height: 100%;
    width: 100%;
    font-family: plus;
    overflow-x: hidden;

}

.main-container {
    height: 100vh;

    background-color: #f3f9ff;

}

/* enrolled section start  */

.enroll {
    height: 60px;
    font-size: 25px;
    font-weight: 600;
    padding-top: 90px;
    text-align: center;
}

.enroll span {
    color: #0948b4;
}

.enroll .enroll-people {
    margin-right: 7px;
}

.enroll-people {
    color: #0948b4;
    font-size: large;
}

.enroll-lives {
    color: #0948b4;
    display: flex;
    margin-top: 60px;
    position: absolute;
}

.information {
    text-align: center;
    font-size: 30px;
    color: #2e2e2e;
}

.information span {
    color: #f38301;
    font-family: 'Dancing Script', cursive;
}

.info {
    color: #ffd124;
    font-family: satisfy;

}

.workshop-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-top: 60px;
}

.group3box {
    display: flex;
    gap: 10px;
}

.group2box {
    display: flex;
    gap: 10px;
}

/* .box1 {
    background: white;
    border-radius: 12px;
    bottom: 270px;
    left: 200px;
    padding-bottom: 90px;
    height: 150px;
    width: 350px;
    padding: 0px 24px;
    text-align: center;
    z-index: 1000%;
    background-color: white;
} */
.box1 {
    background-color: white;
    height: 140px;
    width: 340px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

.box1 p {
    font-size: 16px;
    color: #757678;
    margin-bottom: 20px;
}

.box1 h2 {
    font-size: 20px;
}

.bonuses h1 {

    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 6vh;


}

.bonuses-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 150px;
    width: 80%;


}

.box-cantainer {
    background: white;
    border-radius: 12px;
    /* bottom: 270px; */

}


.box-cantainer {
    background: white;
    border-radius: 12px;
    bottom: 270px;
    align-items: center;
    left: 200px;
    padding-bottom: 90px;
    height: 185px;
    width: 250px;
    padding: 0px 24px;
    text-align: center;
    z-index: 1000%;
    background-color: white;


}

.box-cantainer h2 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 5vh;

}

.bonuse-cantainer {
    background-color: #f3f9ff;
    height: 100vh;
    margin-top: -34px;

}

.box-cantainer p {
    font-size: 90%;
    color: #757678;
    margin-bottom: 20px;
}

.register-tech {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 550;
    font-size: 23px;
    margin-top: 7vh;
}

.register-tech span {
    color: #f3be00;
}

.register-tech .discount {
    color: #df2e2e;
}

.register-tech .discount-just-at {
    color: rgb(38, 198, 38);
}

.contact-us {
    background-color: #2E2F2F;
    height: 35vh;
}

.contact {
    color: white;

}

.contact h1 {
    position: absolute;
    left: 18%;
    margin-top: 55px;
    font-size: 40px;
}

.contact p {
    position: absolute;
    left: 18%;
    margin-top: 9%;
    font-size: 20px;

}

.contact-button {
    position: absolute;
    left: 60%;
    margin-top: 6%;
    padding: 25px 70px;
    border-radius: 8px;
    font-weight: bold;
    font-size: large;
    background-color: #f3be00;
}

.logo img {
    height: 18%;
    width: 18%;
    margin-top: 38px;
    margin-left: 90px;
}

.tech-address {
    height: 30vh;
    border-bottom: 2px solid whitesmoke;
}

.address {
    position: absolute;
    left: 8%;
    margin-top: 30px;
}

.tech-mail {
    display: flex;
    justify-content: flex-end;
    margin-right: 17%;
    margin-top: 30px;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* choose section started */
.choose {
    background: #f3f9ff;

}

.choose-us h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;

}

.choose-us h1 span {
    color: #ffd124;
    font-family: 'Dancing Script', cursive;
}

.your-choose {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 5%;
}

.choose-box {
    height: 120px;
    width: 240px;
    background-color: white;
    border-radius: 12px;
    z-index: 1000%;
    align-items: center;
    margin-bottom: 5%;
}

.choose-box h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* choose section end */
.class-detail {
    height: 100%;
    width: 100%;
}

.detail-info {
    display: flex;
    justify-content: center;
    background-color: white;
    position: absolute;
    left: 25vw;



}

.tech-detail {
    background-color: #f3f9ff;
    height: 24vh;
    width: 90vh;


}


.detaling ul {
    padding: 0;
}

.detaling ul li {
    display: inline-block;
    color: #df2e2e;
    font-weight: bold;
    font-size: large;
    margin-top: 7vh;
    text-align: center;

}

.detaling ul li p {
    color: #474545;
    margin: 0 2vh;
    margin-top: 2vh;
    font-weight: 150;
    font-size: 17px;
}

.class-img img {
    height: 40vw;
    width: 100vw;
    margin-top: 20px;

}